@use '../utilities';


/* Grid layout */

.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  gap: 2rem;
  min-height: 100vh;

  > * {
    width: 100%;
  }

  @include utilities.respond-to('md') {
    gap: 3rem;
  }

  @include utilities.respond-to('lg') {
    gap: 5rem;
  }
}
