@use '../utilities' as u;

/* Home */

$main-content-max-width: 700px;

$post-summary-background-color: u.get-gray('800');

.main-content {
  &.latest {
    max-width: $main-content-max-width;
  }
}

.post-list {
  @include u.flex(1.25rem, column);
  @include u.respond-to('lg') {
    gap: 2rem;
  }
}

.post-summary {
  @include u.flex(.5rem, column);
  
  background-color: $post-summary-background-color;
  border-radius: 1rem;
  padding: 1rem;

  @include u.respond-to('lg') {
    gap: 1rem;
    padding: 1.5rem;
  }

  &__img {
    @include u.size(100%, 200px);

    object-fit: cover;
    vertical-align: middle;
    border-radius: 8px;

    @include u.respond-to('lg') {
      height: 300px;
    }
  }

  h2:hover {
    text-decoration-line: underline;
  }

  .button {
    display: none;
    margin-top: 1rem;

    @include u.respond-to('lg') {
      display: block;
      margin-top: 1rem;
    }
  }
}
